

.back-button {
	margin: 20px;
	position: relative;
	height: 35px;
	position: fixed;
	top: 0;
	left: 0;
}

.back-arrow {
	height: 35px;
	opacity: .3;
	float:left;

	transform: rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
}

	@-webkit-keyframes horizontalBackAndForth { 
	    0%, 100% {-webkit-transform: translateX(0);} 
	    50% {-webkit-transform: translateX(-5px);} 
	} 
	  
	@keyframes horizontalBackAndForth { 
	    0%, 100% {transform: translateX(0);} 
	    50% {transform: translateX(-5px);} 
	} 
	  
	.horizontalBackAndForth { 
	    -webkit-animation-name: horizontalBackAndForth; 
	    -webkit-animation-duration: 4s;
	    -webkit-animation-timing-function: ease-in-out;
	    -webkit-animation-iteration-count: infinite;

	    animation-name: backAndForth;
	    animation-duration: 4s; 
	    animation-timing-function: ease-in-out;
	    animation-iteration-count: infinite;
	}

/* PROJECT PAGE STYLING */

/* Project container */
.mobile-screenshot {
	width: 320px !important;
	float: none;
    display: inline-block;
    margin: 30px;
}

.project {
	margin: 0px 30px 30px 30px;
	min-width: 1024px;
	padding: 0;
}

.double {
	width: 50%;
	float: left;
	display: inline;
}

.project h1 {
	padding-top:20px;
	margin-top: 0px;
	font-size: 60px;
}


/* Formatting for project description */
.project-description {
	font-size: 18px;
	line-height: 1.5;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 300;
	letter-spacing: .50px;
}

.project-description .section-heading {
	padding: 0px;
	margin: 30px 0px 0px 0px;
	font-size: 14px;
	color: #AAAAAA;
}

.project-description h1 {
	margin-top: 60px;
	text-align: center;
	margin-bottom: 0;
}

.project-description h3 {
	margin-top: 10px;
}

.project-description .duration {
	margin-bottom: 70px;
	text-align: center;
}

/* Slideshow wrapper */
#wrapper {
	width: 100%;
	text-align: center;
	padding: 10px;
}

#wrapper iframe {
	margin: 30px;
}
.wrapper-caption {
	font-style: italic;
	font-size: 14px;
}

/* Text/written content wrapper */
#content {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
