body {
  font-family: 'Helvetica Neue';
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border: 1px solid black;
  background-color: #EAEAEA;
  padding: 10px;
  width: auto;
  height: auto;
}

td {
  background-color: white;
  border: 1px solid black;
  padding: 20px;
}

td:hover {
  background-color: rgba(255,255,255,.5);
  cursor: pointer;
}

.ship {
  background-image: url('http://clipartix.com/wp-content/uploads/2016/04/Boat-pirate-ship-clipart-black-and-white-free-clipart.png');
  background-size: contain;
}

.ship.p1 {
  background-color: blue;
}

.ship.p2 {
  background-color: red;
}

#game-info, #victory {
  margin: 10px 0px;
  text-align: center;
}
#player-turn {
  text-transform: uppercase;
  font-size: 3em;
  margin: 0;
  font-weight: lighter;
}
