/* Header container */

#navigation {
	vertical-align: middle;
	color: #7c7c7c;
	background-color: white;
	padding: 2%;
	font-size: 24px;
	border-bottom: 1px solid #cecece;
	opacity: .8;
	margin-bottom: 2%;
}

/* Icon sizes and hover interactions */

.square-button {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding-left: 25px;
	float: right;
	-webkit-transition: all .25s ease;
  	-moz-transition: all .25s ease;
  	-ms-transition: all .25s ease;
  	-o-transition: all .25s ease;
  	transition: all .25s ease;
}

.square-button img {
	width: 25px;
}

.square-button:hover {
	opacity: .6;
}

/* Name displayed in top left corner of nav */

#home-button {
	display: inline-block;
	-webkit-transition: all .25s ease;
  	-moz-transition: all .25s ease;
  	-ms-transition: all .25s ease;
  	-o-transition: all .25s ease;
  	transition: all .25s ease;
}

#home-button div {
	font-weight: bold;
}

#home-button:hover {
	opacity: .6;
}

