/* PROJECT PAGE STYLING */

/* Project container */
.project {
	padding: 0% 2% 2% 2%;
	color: #7c7c7c;
}

/* Formatting for project description */
.project-description {
	font-weight: lighter;
	font-size: .9em;
}

/* Slideshow wrapper */
#wrapper {
	width: 65%;
	float: right;
}

/* Text/written content wrapper */
#content {
	width: 30%;
}

/* Unique video wrapper for "Motion" page */
#motion-wrapper {
	text-align: center;
	padding-left: 10px;
}

#motion-content {
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	min-width: 640px;
	max-width: 1280px;
}
