.project {
	padding: 0% 2% 2% 2%;
	color: #7c7c7c;
}

.project-description {
	font-weight: lighter;
	font-size: .9em;
}

#wrapper {
	width: 65%;
	float: right;
}

#motion-wrapper {
	text-align: center;
	padding-left: 10px;
}

#motion-content {
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	min-width: 640px;
	max-width: 1280px;
}

#content {
	width: 30%;
}